.wrapper {
  padding: 10px;

  &:last-of-type {
    margin-left: auto;
  }
}

.wrapperName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title,
.text {
  font-weight: 400;
  font-size: 14px;
  max-width: 150px;
  overflow: hidden;
  word-wrap: break-word;
  text-transform: capitalize;
}

.text {
  font-size: 12px;
  margin-bottom: 10px;
}

.wrapperDate {
  display: flex;
  align-items: center;
  max-width: 150px;
  margin-bottom: 10px;
}

.textDate {
  color: red;
  margin-left: 5px;
}

.status {
  padding: 15px;
  height: 5px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007fff;
  border-radius: 25px / 50%;
  margin-bottom: 10px;

  &:hover {
    background-color: #0066cc;
  }
}

.medium {
  text-align: center;
}
