.wrapper {
  padding: 10px;
}

.wrapperName {
  display: flex;
  align-items: center;
  max-width: 150px;
}

.title {
  font-weight: 300;
  font-size: 12;
  max-width: 150px;
  overflow: hidden;
  word-wrap: break-word; /* Переносить текст на новую строку при необходимости */
}

.text {
  font-weight: 300;
  font-size: 12;
  max-width: 150px;
  overflow: hidden;
  word-wrap: break-word; /* Переносить текст на новую строку при необходимости */
}

.status {
  padding: 15px;
  height: 10px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007fff;
  border-radius: 25px / 50%;
}

.status:hover {
  background-color: #0066cc;
}

.medium {
  text-align: center;
}
