.backdrop {
  position: fixed;
  padding: 0 20px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  backdrop-filter: blur(2px);
  z-index: 1200;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal {
  position: absolute;
  top: 50px;
  left: 50%;
  max-width: 420px;
  // width: calc(100% - 32px);
  max-height: calc(100vh - 50px);
  transform: translate(-55%, 0);
  border-radius: 16px;
  border: 1px solid #007bff;
  background: var(--White, #fff);
  // overflow-x: auto;
  box-shadow: var(--box-shadow);

  @media screen and (min-width: 768px) {
    width: calc(100% - 32px);
  }

  // @media screen and (min-width: 1280px) {
  //   width: 606px;
  // }

  // @media screen and (min-height: 800px) {
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }
}

.modal--centered {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;
}
