.wrapperPage {
  padding-top: 130px;
  background-image: url("../../../shared/images/Designer_upscayl_4x_realesrgan-x4plus.png");
  background-size: cover;
  background-color: #f8f6f3;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  @media screen and (min-width: 768px) {
    background-size: cover;
  }
  @media screen and (min-width: 1024px) {
    background-size: contain;
  }
  @media screen and (min-width: 1440px) {
    // background-size: 70% 100%;
    background-size: contain;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
  // width: calc(100% - 32px);
  max-height: calc(100vh - 50px);
  border-radius: 16px;
  border: 1px solid #007bff;
  background: var(--White, #fff);
  overflow-x: auto;
  box-shadow: var(--box-shadow);

  @media screen and (min-width: 768px) {
    width: calc(100% - 32px);
  }
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wrapperForm {
  text-align: center;
}

.labelForm {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.text {
  text-align: center;
  padding-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  color: #007bff;
  text-shadow: 2px 2px 4px rgba(0, 0, 2, 0.2);
}

.input {
  display: block;
  width: 250px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 5px;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

  resize: vertical;

  &::placeholder {
    color: red;
  }

  &:hover {
    border-color: #007bff;
  }

  &:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  }

  @media screen and (min-width: 768px) {
    width: 320px;
  }
}

.selectMove {
  margin-bottom: 10px;
}

.radio {
  margin: 10px;
  margin-left: 0;
}

.date {
  display: block;
  width: 250px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

  &:hover {
    border-color: #007bff;
  }

  &:focus {
    border-color: #007bff;
  }

  @media screen and (min-width: 768px) {
    width: 320px;
  }
}

.button {
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  &:hover {
    border-color: #007bff;
  }
}

.error {
  color: red;
}

.registration {
  color: #000;
  font-size: 0.875rem;
  font-weight: 400;
}
