.main {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
  }
}

.list {
  margin-bottom: 10px;
  // background-color: rgba(14, 79, 109, 0.5); /* Прозрачный белый цвет */
  // padding: 10px;
  background-color: #f3f4f7; /* Обычный белый цвет фона */
  border-radius: 10px;
  border: 1px solid rgb(59, 82, 214);
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
