.box {
  padding: 30px;
  /* margin-top: 10px; */
}

.text {
  text-align: center;
  margin-bottom: 10px;
}

.input {
  width: 320px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000; /* Установите цвет текста здесь */
  background: #fff; /* Установите фоновый цвет здесь */
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Установите тень здесь */
  margin-bottom: 10px;
  /* Добавьте дополнительные стили для focus-visible, если это необходимо */
}

.input:hover {
  border-color: #007bff; /* Установите цвет рамки при наведении здесь */
}

.input:focus {
  border-color: #007bff; /* Установите цвет рамки при фокусе здесь */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Установите тень при фокусе здесь */
}

.selectMove {
  margin-bottom: 10px;
}

.radio {
  margin: 10px;
  margin-left: 0;
}

.date {
  width: 320px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000; /* Установите цвет текста здесь */
  background: #fff; /* Установите фоновый цвет здесь */
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Установите тень здесь */
  margin-bottom: 10px;
}

.date:hover {
  border-color: #007bff; /* Установите цвет рамки при наведении здесь */
}

.date:focus {
  border-color: #007bff; /* Установите цвет рамки при наведении здесь */
}

.button {
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000; /* Установите цвет текста здесь */
  background: #fff; /* Установите фоновый цвет здесь */
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Установите тень здесь */
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  border-color: #007bff; /* Установите цвет рамки при наведении здесь */
}
