/* .box {
  padding: 30px;
  margin-top: 300px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 16px;
  min-height: 16px;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
  outline: 0;
  max-height: calc(100% - 96px);
  -webkit-overflow-scrolling: touch;
  z-index: 50;
}

.button {
  display: block;
  margin-left: auto;
  padding-bottom: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperName {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.box {
  padding: 30px;
  /* margin-top: 10px; */
}

.text {
  text-align: center;
  margin-bottom: 10px;
}

.input {
  width: 320px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000; /* Установите цвет текста здесь */
  background: #fff; /* Установите фоновый цвет здесь */
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Установите тень здесь */
  margin-bottom: 10px;
  /* Добавьте дополнительные стили для focus-visible, если это необходимо */
}

.input:hover {
  border-color: #007bff; /* Установите цвет рамки при наведении здесь */
}

.input:focus {
  border-color: #007bff; /* Установите цвет рамки при фокусе здесь */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Установите тень при фокусе здесь */
}

.selectMove {
  margin-bottom: 10px;
}

.radio {
  margin: 10px;
  margin-left: 0;
}

.date {
  width: 320px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000; /* Установите цвет текста здесь */
  background: #fff; /* Установите фоновый цвет здесь */
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Установите тень здесь */
  margin-bottom: 10px;
}

.date:hover {
  border-color: #007bff; /* Установите цвет рамки при наведении здесь */
}

.date:focus {
  border-color: #007bff; /* Установите цвет рамки при наведении здесь */
}

.button {
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000; /* Установите цвет текста здесь */
  background: #fff; /* Установите фоновый цвет здесь */
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Установите тень здесь */
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  border-color: #007bff; /* Установите цвет рамки при наведении здесь */
}
