.box {
  padding: 30px;
}

.text {
  text-align: center;
  margin-bottom: 10px;
}

.input {
  width: 280px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

  &:hover,
  &:focus {
    border-color: #007bff;
  }

  &::placeholder {
    color: red;
  }

  @media screen and (min-width: 768px) {
    width: 320px;
  }
}

.selectMove {
  margin-bottom: 10px;
}

.radio {
  margin: 10px;
  margin-left: 0;
}

.date {
  width: 320px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

  &:hover,
  &:focus {
    border-color: #007bff;
  }
}

.button {
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;

  &:hover {
    border-color: #007bff;
  }
}
